body {
    margin-top: 1%;
}

#title {
    width: 40%;
}

#home {
    padding-top: 10px;
    image-orientation: from-image;
    max-height: 500px;
    max-width: 50%;
    width: auto;
}

.middle {
    position: absolute;
    text-align: center;
    margin: auto;
}

@media screen and (max-width: 1050px) {
    #title {
        width: 80%;
    }

    #home {
        max-width: 60%;
    }

    body {
        margin-top: 10%;
    }
}