.feed {
    margin: auto;
    max-width: 810px;
    display: flex;
    flex-wrap: wrap;
}

.feed img {
    object-fit: cover;
    width: 250px;
    height: 250px;
    background-color: lightgrey;
    margin: 10px;
    line-height: 100px;
    text-align: center;
}