.header {
    text-align: center;
}

.header > ul > li {
    padding-left: 100px;
    padding-right: 100px;
    display: inline;
}

.header > hr {
    max-width: 900px;
}

.footer {
    text-align: center;
    margin: 50px;
}

.footer > hr {
    max-width: 900px;
}

.footer > p {
    font-family: 'Times New Roman', Times, serif;
}

@media screen and (max-width: 1050px) {
    .title > img {
        width: 80%;
    }
    
    body {
        margin-top: 50px;
        font-size: 2rem;
    }
}