.title {
    text-align: center;
    margin: auto;
}

.title > img {
    width: 40%;
}

.title > a > img {
    padding-top: 10px;
    image-orientation: from-image;
    max-height: 500px;
    max-width: 50%;
    width: auto;
}