<title>fatnipple1.com | feed</title>

<link rel="stylesheet" type="text/css" href="static/css/global.css">
<link rel="stylesheet" type="text/css" href="static/css/feed.css">
<script src="/static/js/detectSafari.js"></script>

<div class="title">
	<img id src="{{ title }}"><br/>
	<a id="entry" href="/fatnipple1.html">
		<img id="home" src="{{ home }}">
	</a>
</div>

<div class="header">
    <ul>
        <li><a href="/feed">feed</a></li>
        <li><a href="/live">live</a></li>
        <li><a href="/about">about</a></li>
    </ul>
    <hr/>
</div>

<div class="feed">
    {% for img in images %}
        {% if img['has_url'] %}
            <a href="{{ img['url'] }}"><img src="{{ img['src'] }}"></a>
        {% else %}
            <img src="{{ img['src'] }}">
        {% endif %}
    {% endfor %}
</div>

<!-- <footer class="footer">
	<hr/>
	<p>fatnipple1.com</p>
	<p>sincerely brought to you by <a target="_blank" href="https://instagram.com/htbinc/">htb</a></p>
</footer> -->